/* CSS admin */

body {
    font-family: "Arial", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f48b09;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f48b09;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#font_nar {
    color: #f48b09;
}
#stil1 {
	color: #f48b09;
	background-color: #111;
}
#padding {
    padding-left: 0.5cm;
}

.cont {
	padding-top:50px;
}