.collapsible {
	cursor: pointer;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
#tblData p{
	width: 10%;
	float:left;
}

#tblData .prikaz{
	float:left;
	width: 90%;
	margin-bottom:20px;
}

#tblData div a:not(.paginate_button) {
	display:block;
	width: 12%;
	min-height: 40px;
	line-height:15px;
	padding:5px;
	float:left;
	border: 1px solid #ccc;
	background-color:#eee;
	color:black;
	text-align:center;
	margin:5px 0.25%;
	cursor:pointer;
	font-size:12px;
}
#tblData div a:first-child {
	text-align:left;
}

#tblData div a:hover{
	text-decoration:none;
	background-color:#ddd;
}

th {
	font-size: 12px;
}
	
td {
	font-size: 14px;
}
	
.dataTables_wrapper { 
	font-size: 12px;
}

.show_go a{
	width:100%;
	height:100%;
	border:none;
	background-color:inherit;
	font-size: 14px;
	text-align:left;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.SLD {
	width:100%;
	text-align:left;
	margin: 20px 0;
	color:green;
}

.raspored .page-header p, .raspored .page-header input{
	display:inline;
	width:auto;
} 

.mjesec {
	text-align:left;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
	border-right: 1px solid #ddd;

}

.raspored .date{
	display: inline;
    width: auto;
	
}
.container {
	background-color:white;
}