/**/

* {
	margin:0;
	padding:0;
}

.evidencija {
	margin-top: 80px;
	margin-left:-50px;
}

.evidencija ul {
	list-style:none;
	
}

.evidencija ul >li{
	display:inline-block;
}

.evidencija h1 {
	font-size:1.5em;
	text-align:left;
}

.evidencija h1, .evidencija div {
	width:50%;
	float:left;
	margin:auto;
}

.date {
	width: 80px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {    
    border: 1px solid #ddd;
	font-size: 12px;
	padding: 0;
	margin:0;
}

th {
	border-bottom: double 1px black;
	background-color:#cce6ff;
}

.ime {
	width: 150px;
	min-width: 150px;
	background-color:#cce6ff;
	padding: 10px;
}

.lista  tr>th  {
	padding: 10px;
	margin:0;
}

tr:hover {
	background-color:#f5f5f5;
}

.evid select {
	width:100%;
	border:none;
	margin:0;
	padding:10px;
	-webkit-appearance: none;
	-moz-appearance: none;
    text-overflow: '';
}

